{% extends "verfahren/base.html" %}
{% load i18n %}
{% block titel %}{% translate "Link nicht mehr gültig" %}{% endblock %}
{% block inhalt %}
<h1>{% translate "Dieser Link ist nicht mehr gültig" %}</h1>
<div class="karte">
<p>{% blocktranslate %}Der Link wurde bereits verwendet oder seine Gültigkeit ist abgelaufen.
Das ist kein Problem: Fordern Sie einfach einen neuen an.{% endblocktranslate %}</p>
<p style="margin-top:14px"><a class="btn" href="{% url 'mitglieder:login' %}">{% translate "Neuen Anmeldelink anfordern" %}</a></p>
</div>
{% endblock %}
